V1/node_modules/
**/*/._.DS_Store
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/**/.DS_Store
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/*.ai
**/**/._carpeta sin título.textClipping
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/ICONOS MENU/carpeta sin título.textClipping
