V1/node_modules/
**/*/._.DS_Store
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/**/.DS_Store
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/*.ai
**/**/._carpeta sin título.textClipping
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/ICONOS MENU/carpeta sin título.textClipping
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/tipografia/._annie_use_your_telescope
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/tipografia/annie_use_your_telescope/._KGFonts-TOU.txt
V1/MEDIDAS DE LA WEB PAGE LA GUACHA/tipografia/annie_use_your_telescope/KGFonts-TOU.txt
V1/js/greensock-js/*
V1/locales*
*.ai