@font-face {
    font-family: annieUse;
    src: url(../fonts/AnnieUseYourTelescope.ttf);
}

@font-face {
    font-family: segoepr;
    src: url(../fonts/segoepr.ttf);
}

.link {
    color: white !important;
}

a:hover,
a:visited,
a:active {
    text-decoration: none !important;
}

.w3-jumbo {
    font-size: 30px !important;
}

.audio {
    padding: 20px 20px 20px 20px;
    margin: 5%;
    margin-top: 3px;
    position: fixed;
    z-index: 3;
    color: grey;
    bottom: 0px;
    right: 0px;
}

.audio:hover {
    cursor: pointer;
    cursor: hand;
}

body,
html,
{
    height: 100%;
}

#player {
    height: 0px;
    width: 0px;
}

.w3-display-middle {
    position: relative;
}

.margin-top {
    margin-top: 20%;
}

.main-container {
    width: 100%;
}

body,
html {
    height: 100%;
}

#player {
    height: 0px;
    width: 0px;
}

.margin-top {
    margin-top: 20%;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.imageMiddle {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: -1;
    background-position-x: center;
    background-position-y: center;
}

.topLanding {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/background blanco inferior-42.svg");
    background-repeat: repeat-x;
    height: 250px;
    width: 100%;
    z-index: 2;
    background-position: 100% 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 100%;
    padding-top: 146px;
    padding-left: 3%;
    padding-right: 3%;
}

#float-menu-mobile,
.floating-menu,
.floating-menu-icon {
    cursor: pointer;
    cursor: hand;
}

.footLanding {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/background blanco inferior-42.svg");
    bottom: -2px;
    z-index: 1;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-position: 100% 100%;
    background-size: 100%;
}

.logo {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/logo pequeño marron y verde-17.svg");
    position: relative;
    height: 100px;
    width: 15%;
    background-position: 10% 20%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: calc(190%/2);
    background-repeat: no-repeat;
}

.menu {
    background-image: url('../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/logo iconografico-16.svg');
    position: relative;
    height: 90px;
    width: 15%;
    background-position: 100% 0%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: calc(100%/2.39);
    background-repeat: no-repeat;
    top: 14px;
    transition: opacity 1s ease-out;
}

.menu:hover {
    cursor: pointer;
    cursor: hand;
}

#menu-icon-trigger {
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 32, 17, 0.70);
    /* Black background with opacity */
    z-index: 1;
    /* Specify a stack order in case you're using a different order for other elements */
}

.off {
    opacity: 0 !important;
    transition: ease-in 1s !important;
}

.Main-Logo {
    width: 43%;
    height: auto;
    margin: calc(50%/2) auto 0px 0px;
}

.divider {
    color: #776e63;
    font-family: annieUse;
    height: 20%;
    width: 100%;
    position: relative;
    font-size: 2.5em;
    letter-spacing: 17px;
    padding: 2% 0px 2% 0px;
    z-index: 3;
    background-color: white;
}

.section {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    z-index: -1;
    font-weight: lighter;
}

.theFarmTop {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/la granja/background blanco-22.svg");
    background-repeat: repeat-x;
    height: 20%;
    width: 100%;
    top: -2px;
    z-index: 1;
    background-position: 100% 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 100%;
}

.theFarm {
    height: 100%;
    background-color: #dbc6b4;
    color: #776e63;
}

.guacha {
    height: 100%;
    width: auto;
    padding: 5% 0% 0% 0%;
    position: absolute;
    right: 0px;
    display: inline;
}

.mision {
    margin-top: 10%;
    padding-top: 8%;
    font-family: annieUse;
    font-size: 4em;
}

.Tittle {
    border-bottom-color: #369040;
    border-bottom-style: solid;
    border-bottom-width: .5px;
}

.content {
    font-family: Calibri;
    word-break: keep-all;
    font-size: .3em;
}

.circle-Button {
    background-color: rgba(81, 54, 2, 0.70);
    border-radius: 50%;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-top: 100px;
}

.circle-Button:hover {
    cursor: pointer;
    cursor: hand;
}

.left-Button {
    margin-left: 5%;
    padding-right: 5px;
}

.right-Button {
    margin-right: 5%;
    padding-left: 5px;
}

.content-footer {
    font-size: small;
}

.button-footer {
    margin: 0px;
    background-color: #baa99a;
    padding: 5px;
}

.objectives {
    background-color: #603726;
    height: auto;
    color: white;
    font-family: Calibri;
    letter-spacing: 17px;
    padding: 4% 0px 4% 0px;
}

.objectives-top {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/la granja/background marron objetivos estrategicos-01.svg");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    top: -2px;
    z-index: 1;
    background-position: 100% 100%;
    background-size: 100%;
}

.objectives-foot {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    height: 120px;
    transform: rotate(180deg);
    width: 100%;
    bottom: -2px;
    z-index: 1;
    background-position: 100% 100%;
    background-size: 100%;
}

.objetives-container {
    height: 100%;
    background-image: url('../images/imagen.jpg');
    background-position-x: -1px;
    background-size: 101% auto;
}

.tittle-middle {
    padding-top: 250px;
    color: #a55330;
    font-size: 90px;
}

.segoepr {
    font-family: segoepr;
}

.reservations-container {
    background-color: #f7eae2;
    background-image: none;
    height: auto;
}

.reservations-top {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    height: 120px;
    width: 100%;
    top: -20px;
    z-index: 1;
    background-position: 100% 100%;
    background-size: 100%;
    margin: 0px -15px;
}

.worm {
    margin-left: -100px;
    margin-top: 110px;
}

.flowers-container {
    background-image: url("../images/Mandevila Roja - Frente.jpg");
    background-size: 100% auto;
    align-self: auto;
    height: 100%;
}

.flowers-top {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background rosa-24.svg");
    height: 200px;
    width: 100%;
    top: -20px;
    z-index: -1;
    background-size: cover;
    background-size: 101% 100%;
    background-position-y: 100%;
}

.flowers-footer {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    transform: rotate(180deg);
    height: 200px;
    width: 100%;
    bottom: -2px;
    z-index: 1;
    background-size: 100% auto;
}

.events {
    padding: 0px;
    height: 50px;
}

.events-container {
    background-image: none;
    background-color: #603626;
    padding-top: 13%;
}

.events-top {
    top: -40px;
    left: 0px;
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/proximos eventos/backgroun blanco.svg");
    height: 157px;
    transform: rotate(180deg) rotate(180deg);
    width: 100%;
    z-index: 1;
    background-size: 100% auto;
    background-position-x: 0px;
    background-repeat: no-repeat;
}

.next-events-container {
    position: relative;
    padding-top: 271px;
    text-align: center;
}

.next-events-button {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/proximos eventos/matas de boton-29.svg");
    width: 10%;
    height: 300px;
    position: absolute;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 100%;
    bottom: 15px;
}

.top-correction {
    margin-top: 20px;
}

.tittle {
    width: 10%;
    height: 80%;
    color: white;
    font-size: 4em;
}

.antimargin {
    margin: 0px -8% 0px -8%;
}

.right {
    transform: rotate(180deg) rotateX(180deg);
}

.parrot-container {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/imagenes/DSC07016 (1).JPG");
}

.parrot-top {
    top: -22px;
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/proximos eventos/backgroun marron-28.svg");
    height: 220px;
    transform: rotate(180deg) rotate(180deg);
    width: 100%;
    z-index: 1;
    background-size: 107% auto;
    background-position-y: 105%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.parrot-footer {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/contacto/backgroun blanco-31.svg");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    bottom: -2px;
    z-index: 1;
    background-position: 0px 20%;
    background-size: 100%;
}

.form-top {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/contacto/backgroun blanco-31.svg");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    top: -2px;
    z-index: 1;
    background-position: 0px 100%;
    background-size: 100%;
}

.padding-fix {
    padding: 10px 0px 10px 0px;
}

#exampleTextarea,
#email-input,
#name-input {
    border-color: rgb(54, 144, 64);
    background-color: #F9EEE8;
    border-width: 3px;
}

#exampleTextarea:focus,
#email-input:focus,
#name-input:focus {
    -webkit-box-shadow: 0px 0px 32px 0px rgba(54, 144, 64, 0.98);
    -moz-box-shadow: 0px 0px 32px 0px rgba(54, 144, 64, 0.98);
    box-shadow: 0px 0px 32px 0px rgba(54, 144, 64, 0.98);
}

.col-form-label {
    color: #583829;
    font-weight: 600;
    font-size: 1em;
}

.guest-label {
    padding-left: 30px !important;
    color: grey;
    font-size: 1em !important;
    font-weight: normal;
}

.contact-us {
    padding-top: 30px;
    height: 10%;
}

.custom-select {
    width: 100%;
    background-color: transparent !important;
    color: grey !important;
    border: none !important;
}

.form {
    position: relative;
    height: 120%;
    background-color: #F9EEE8;
}

.form-container {
    padding: 200px 0px 0px 0px;
    margin: 0px 10% 0px 10%;
}

.icon-bar>div>i,
.icon-bar>div>a>i {
    padding: 10px 10px 10px 10px;
    background-color: #339040;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.icon-bar {
    margin-bottom: 20px;
}

.icon-bar>div {
    margin-right: 15px;
}

textarea {
    resize: none !important;
}

.footer {
    height: 51%;
    background-color: #F9EEE8;
    position: relative;
    color: white;
}

.back1,
.back2,
.back3 {
    position: absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/footer/background 1-33.svg");
    width: 100%;
    height: 500px;
    bottom: -50%;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center -15px;
    background-size: 101% auto;
}

.back2 {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/footer/background 2-34.svg");
    z-index: 2;
}

.back3 {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/footer/background 3-32.svg");
    z-index: 3;
    padding-top: 17%;
}

.circle-footer {
    color: #D5C0AB;
}

.col>h1 {
    padding-left: 30px;
    font-family: annieUse;
    font-size: 25px;
    padding-top: 10px;
}

i+i {
    color: #96887B;
}

li {
    margin-top: 10px;
}

#redes-sociales {
    margin-top: 10px;
}

.height-fix {
    height: 100%;
    background-color: #6A5141;
}

div.row.justify-content-start>ul {
    list-style-type: none;
    margin: 0;
}

div.row.justify-content-start>ul>li,
.footer-icons {
    padding: 0px 0px 0px 35px;
}

.menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 100;
    opacity: 0;
    transition: opacity 1s linear;
}

.no-show {
    opacity: 0;
}

.show {
    opacity: 1 !important;
}

.menu-bar {
    color: white;
    list-style-type: none;
    text-align: -webkit-left;
    padding-left: 90px;
    font-size: 1.6em;
    opacity: 0;
    float: center;
}

.menu-height,
.menu-height>* {
    height: 100%;
}

.menu-bar::before {
    position: absolute;
    top: -88px;
    left: -50px;
    height: 100%;
    width: 150px;
    content: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/linea verde de menu-18.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.menu-bar>li {
    line-height: 60px;
    padding-left: 35%;
}

.menu-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(54, 144, 64);
    position: absolute;
    left: 30%;
    background-position: center;
    background-size: 60px 60px;
}

.menu-bar>* {
    margin: 30px auto 30px auto;
}

.the-farm-icon {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/ICONOS MENU/icono la granja-08.svg");
}

.reservations-icon {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/ICONOS MENU/icono reservaciones-09.svg");
}

.events-icon {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/ICONOS MENU/icono proximos eventos-10.svg");
}

.gallery-icon {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/ICONOS MENU/icono galeri-11.svg");
}

.contact-icon {
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio aislada/ICONOS MENU/icono contacto-12.svg");
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 245, 245, 0.1);
    border-radius: 10px;
}

 ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(245, 245, 245, 0.53);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.30);
}

.height-hundred {
    height: 100%;
}

.close-button {
    background-image: url("../images/icon-close.png");
    background-position: center;
    background-size: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    cursor: hand;
    z-index: 10;
}

.mision {
    width: 100%;
}

.floating-menu {
    position: fixed;
    height: 60px;
    width: 60px;
    background-color: rgba(74, 55, 50, 0.5);
    top: 5px;
    right: 27px;
    border-radius: 50%;
    z-index: 100;
}

.floating-menu-icon {
    height: 55px;
    padding: 5px 0px;
}

.carousel-main {
    height: 100%;
}

.carousel-main>div {
    height: 100%
}

.main-container>div.carousel-height {
    padding: 29% 0px;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

.img-1 {
    background-image: url('../images/carousel/4.jpg');
}

.img-2 {
    background-image: url('../images/carousel/2.jpg');
}

.img-3 {
    background-image: url('../images/carousel/3.jpg');
}

.img-4 {
    background-image: url('../images/carousel/1.jpg');
}

.objective {
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 20px;
}

.carousel-objectives {
    margin-top: 20px;
}

.arrow-target {
    margin-top: 20px;
}

.objective-img {
    max-height: 60px;
    min-height: 60px;
}

.brown-background {
    background-image: url('../MEDIDAS DE LA WEB PAGE LA GUACHA/datos de la reservacion/cuadro datos de la reservacion.svg');
    background-repeat: no-repeat;
    background-position: top;
}

.brown-background>h1 {
    padding: 60px 0px 70px 0px;
    color: white;
}

.slogan {
    font-family: annieUse;
    color: white;
    margin-top: 20px;
    font-size: 1.5em;
}

.form-reserve,
.no-background {
    background-color: transparent !important;
    border: none !important;
    color: grey;
}

.brown {
    color: #9F684F;
}

.green-bottom {
    border-bottom: green 2px solid;
}

.green-left {
    border-left: green 2px solid;
}

.btn-guest {
    background-color: transparent;
    color: grey;
    border: none;
}

.input-guest {
    background: none !important;
    border: #9F684F 2px solid !important;
    border-radius: 12px !important;
}

.guess-text {
    height: auto;
}

.btnPlus,
.btn- {
    cursor: pointer;
    cursor: hand;
}

.green-right {
    border-right: green 2px solid;
}

.custom-margin {
    margin-right: -15px !important;
    padding-right: 0px !important;
    margin-left: 1px;
}

.height-input {
    min-height: 55px;
}

.footer-title {
    padding-left: 30px;
    font-family: annieUse;
    font-size: 25px;
    padding-top: 10px;
}

.reservation-submit {
    margin: 20px 0px 20px 0px;
    color: #603626;
    font-size: 1.3em;
    cursor: pointer;
}

.submitButon::after {
    content: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/datos de la reservacion/linea reservar.svg");
    margin-left: 20px;
}

.padding-left-fix {
    padding-left: 16px !important;
}

.reserve-form {
    margin-top: 50px;
}

.contact-submit {
    margin-left: -30px;
    width: 250px;
}

.contact-submit>.submitButon::after {
    margin-left: 0px;
}

.contact-submit-button {
    width: 250px;
}

.error-input::after {
    content: "*";
    position: absolute;
    color: red;
    right: 0px;
    top: 0px;
    font-weight: 900;
}

.error-input-large::after {
    right: 25px;
    top: 20px;
}

.error-message {
    font-size: 0.6em;
}

.error {
    color: red;
}

.error-list {
    margin-top: 10px;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
    background-color: #9F684F;
}

.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled],
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
    background-image: linear-gradient(to bottom, #9F684F, #9F684F);
}

@media(max-height:900px) and (min-width:1000px) {
    .topLanding {
        background-position: 100% 100%;
        -webkit-transform: rotate(180deg) scaleY(.6);
        -moz-transform: rotate(180deg) scaleY(.6);
        -ms-transform: rotate(180deg) scaleY(.6);
        -o-transform: rotate(180deg) scaleY(.6);
        transform: rotate(180deg) scaleY(.6);
        top: -50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footLanding {
        background-position: 100% 100%;
        -webkit-transform: scaleY(.6);
        -moz-transform: scaleY(.6);
        -ms-transform: scaleY(.6);
        -o-transform: scaleY(.6);
        transform: scaleY(.6);
        bottom: -54px;
    }
    .menu {
        background-position: 100% 0%;
        transform: rotate(180deg) scaleX(.6);
    }
    .logo {
        transform: rotate(180deg) scaleX(.6);
        background-size: 100%;
        margin-top: -25px !important;
    }
    .Main-Logo {
        width: 43%;
        height: auto;
        margin: calc(85%/6) auto 0px 0px;
    }
    .left-Button {
        transform: scale(.8);
    }
    .right-Button {
        transform: scale(.8);
    }
    .mision {
        padding-top: calc(25%/50);
    }
    .main-button {
        transform: scaleX(.6);
    }
    .menu-icon {
        left: 30%;
    }
}

@media (max-width:1000px) {
    .next-events-container>h3 {
        font-size: 30px;
    }
    .tittle {
        font-size: 3em;
    }
}

@media (max-width:679px) {
    .guest-label {
        padding-left: 15px !important;
    }
}

@media (max-width:340px) {
    .brown-background>h1 {
        padding: 15px 0px 70px 0px;
    }
}

@media (max-width:700px) {
    .tittle {
        font-size: 2em;
    }
}

@media (max-width:1600px) and (min-width:1000px) and (min-height: 500px) and (max-height: 700px) {
    .flowers-footer {
        bottom: -80px;
    }
}

@media (max-width:1000px) and (min-height: 1000px) {
    .tittle-middle {
        padding-top: 350px;
        font-size: 40px;
    }
}

@media (max-width:1600px) and (min-height: 700px) {
    .tittle-middle {
        padding-top: 320px;
    }
    .tittle-middle {
        padding-top: 320px;
    }
    .content {
        font-size: .4em;
    }
    .Tittle {
        font-size: 1em;
    }
    .flowers-top {
        background-size: 101% 118%;
        background-position-y: -13%;
    }
}

@media (max-width:1600px) and (min-height: 1000px) {
    .parrot-container {
        background-size: 120% auto;
    }
    .form {
        height: 70%;
    }
    .events-container {
        padding-top: 30%;
    }
    .tittle-middle {
        padding-top: 30%;
    }
    .tittle-middle {
        height: auto;
    }
    .flowers-footer {
        bottom: -53px;
    }
}

@media (max-width:1280px) and (min-height:720px) {
    .tittle-middle {
        padding-top: 310px;
    }
    .mision {
        margin-top: 9%;
    }
}

@media (max-width:992px) and (max-width:1100px) {
    .icon-bar>* {
        margin: 0px 10px 0px 10px;
    }
    .col-form-label {
        font-size: 1.6em;
    }
}

@media (max-width:1024px) and (min-height: 768px) {
    .footer-icons {
        padding-left: 15px;
    }
    .icon-bar>div {
        margin: auto 10px auto 10px;
    }
    .footer-icons>* {
        margin: auto 10px auto 10px;
    }
    .col-form-label {
        font-size: 1.6em;
    }
    .logo {
        margin-top: -6px !important;
    }
    .events-container {
        padding-top: 26%;
    }
    .divider {
        height: 10%;
    }
    .imageMiddle {
        background-size: auto 100%;
    }
    .main-container>div.carousel-height {
        padding: 40% 0px;
        background-size: 100% auto;
    }
    .Main-Logo {
        width: 43%;
        margin: calc(170%/6) auto 0px 0px;
    }
}

@media (max-width: 1024px) and (min-width: 340px) {
    .brown-background>h1 {
        padding: 20px 0px 70px 0px;
    }
}

@media (min-width:600px) and (max-width: 1300px) {
    Main-Logo {
        width: 70%;
        margin: calc(150%/2) auto 0px 0px;
    }
}

@media (max-width:768px) and (max-height: 1024px) {
    .footer-icons {
        padding: 0px 0px 0px 0px;
    }
    .height-fix {
        height: 110%;
    }
    .Main-Logo {
        width: 70%;
        margin: calc(50%/2) auto 0px 0px;
    }
    .imageMiddle,
    {
        background-size: auto 100%;
    }
    .main-container>div.carousel-height {
        padding: 40% 0px;
        background-size: auto 100%;
    }
    .guacha,
    .worm,
    .fa-map-marker,
    .worm-col {
        display: none !important;
    }
    .Tittle {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        font-size: 1em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .content {
        font-size: .4em;
        margin-top: 0px;
        text-align: justify;
    }
    .mision {
        margin: 0px;
    }
    .tittle-middle {
        font-size: 93px;
        word-break: break-word;
    }
    .objectives-foot {
        bottom: -33px;
    }
    .reservations-top {
        top: -38px;
    }
    .events {
        height: 1%;
    }
    .flowers-footer {
        bottom: -27px;
    }
    .tittle {
        font-size: 3em;
    }
    .top-correction {
        margin-top: 20px !important;
        margin-left: 10px !important;
    }
    .parrot-footer {
        bottom: -100px;
    }
    .form-top {
        top: -110px;
    }
    .form {
        height: 85%;
    }
    .icon-bar,
    .footer-icons {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .footer-icons>* {
        text-align: center !important;
    }
}

@media (max-width:800px) and (max-height:650px) {
    .objectives-foot {
        bottom: -37px;
    }
    .imageMiddle {
        background-size: auto 100%;
    }
    .main-container>div.carousel-height {
        padding: 40% 0px;
        background-size: auto 100%;
    }
    .reservations-top {
        top: -40px;
    }
    .parrot-footer {
        bottom: -155px;
        background-position: 57% -30px;
    }
    .form-top {
        top: -70px;
    }
    .form {
        height: 143%;
    }
    .height-fix {
        height: 120%;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .parrot-footer {
        bottom: -50px;
    }
    .form-top {
        top: -90px;
    }
}

@media(min-width:1024px) and (min-height:580px) {
    .main-container>div.carousel-height {
        padding: 35% 0px;
        background-size: 100% auto;
    }
}

@media(min-width:1600px) and (min-height:1200px) {
    .divider {
        height: 10%;
    }
    .events-container {
        padding-top: 8%;
    }
}

@media (max-width:1024px)and (max-height:1367px) {
    .main-container>div.carousel-height {
        padding: 70% 0px;
        background-size: auto 100%;
    }
}

@media (min-width:690px) {
    .hidden-lg-up {
        display: none;
    }
}

@media (max-width:690px) {
    .input-middle {
        padding-top: 20px !important;
    }
    .reservations-container {
        height: auto;
    }
    .height-input {
        min-height: 65px;
    }
    .Tittle {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: .6em;
    }
    .form {
        height: 119%;
    }
    .imageMiddle {
        background-size: auto 100%;
    }
    .menu-overlay-mobile {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 10;
    }
    .menu-icon {
        left: 41%;
        top: 28px;
    }
    .footer-icons>div {
        margin: 0px;
    }
    .floating-menu {
        bottom: 3px;
        right: 4px;
        top: auto;
    }
    .topLanding>* {
        display: none;
    }
    .back1,
    .back2,
    .back3 {
        height: 130px;
    }
    .footer {
        height: 19%;
    }
    .height-fix {
        height: 14%;
    }
    .hidden-lg-down {
        display: none;
    }
    .main-container>div.carousel-height {
        padding: 100% 0px;
        background-size: auto 100%;
    }
    .content {
        font-size: .3em;
    }
    /*  .theFarm {
height: 125%;
} */
    .divider {
        font-size: 2em;
        letter-spacing: 4px;
    }
    .tittle-middle {
        font-size: 4em
    }
    .objectives-top {
        height: 100px;
    }
    .objectives-title {
        letter-spacing: 4px;
    }
    .tittle {
        font-size: 2em;
        margin-left: -3px;
    }
    .col>h1 {
        padding-left: 0px;
        font-size: 1.5em;
    }
    .icon-bar>div>* {
        width: 65px;
        height: 65px;
        margin: 0px;
    }
    .logo {
        height: 117px;
    }
    .Main-Logo {
        margin: calc(60%/2) auto 0px 0px;
    }
    .divider {
        height: 14%;
    }
    .icon-bar {
        margin-left: -75px !important;
        width: 133%;
    }
    .form-top {
        top: -130px;
    }
    .contact-us {
        padding-top: 14px;
    }
    .next-events-button {
        height: 252px;
    }
    .top-correction {
        margin-left: -3px !important;
    }
    .events {
        padding-top: 31px;
    }
    .reservations-top {
        top: -80px;
    }
    .objectives-foot {
        bottom: -75px;
    }
    .theFarm {
        padding-top: 30px;
    }
}

@media (min-width:770px) {
    .events-top {
        background-position-y: bottom;
    }
}

@media (min-height:480px) {
    .theFarm {
        padding-top: 40px;
    }
}

@media (max-width:333px) {
    .back1,
    .back2,
    .back3 {
        height: 109px;
    }
    .form-top {
        top: -141px;
    }
    .parrot-top {
        top: -135px;
    }
    .next-events-button {
        background-size: cover;
    }
    .tittle {
        font-size: 1.5em;
        height: 42px;
        margin-left: -13px;
    }
    .Main-Logo {
        margin: calc(100%/2) auto 0px 0px;
    }
    .parrot-footer {
        bottom: -160px;
    }
}

@media (max-width:992px) {
    .guacha,
    .worm,
    .fa-map-marker,
    .worm-col {
        display: none !important;
    }
}

@media (max-width:740px) and (max-height:420px) and (orientation: landscape) {
    .Main-Logo {
        width: 35%;
        margin: calc(45%/2) auto 0px 0px;
    }
    .divider {
        height: 15%;
    }
    .main-container>div.carousel-height {
        padding: 40% 0px;
    }
    .imageMiddle {
        background-size: 100% auto;
    }
    .tittle-middle {
        padding-top: 170px;
    }
    .form-container {
        padding: 51px 0px 0px 0px;
    }
    .height-fix {
        height: 140%;
    }
    .footer {
        height: 33%;
    }
    .back1,
    .back2,
    .back3 {
        background-position: center -4px;
        bottom: -39%;
    }
    .back1,
    .back2,
    .back3 {
        height: 164px;
    }
}

@media (min-width:731px) and (max-width:742px) and (max-height:413px) and (orientation: landscape) {
    .theFarm {
        height: 135%;
    }
    .objetives-container {
        height: 124%;
    }
    .tittle-middle {
        padding-top: 190px;
    }
    .back1,
    .back2,
    .back3 {
        bottom: -200%;
    }
    .form-container {
        padding: 95px 0px 0px 0px;
    }
    .mision {
        padding-top: 20%;
    }
}

@media (max-width:500px) and (max-height:300px) {
    .theFarm {
        padding-top: 0px;
    }
    .theFarm {
        height: 200%;
    }
    .tittle-middle {
        padding-top: 110px;
    }
    .form {
        height: 192%;
    }
    .parrot-top {
        top: -146px;
    }
    .imageMiddle.events-container.container-fluid {
        z-index: 2;
    }
}

@media (max-width:600px) and (max-height:300px) {
    .theFarm {
        height: 155%;
    }
    .content {
        font-size: .3em;
    }
    .theFarm {
        padding-top: 0px;
    }
    .divider {
        height: 30%;
    }
    .parrot-top {
        top: -146px;
    }
    .imageMiddle.events-container.container-fluid {
        z-index: 2;
        height: 152%;
    }
    .Main-Logo {
        margin: calc(26%/2) auto 0px 0px;
    }
    .Tittle {
        padding-bottom: 20px;
        padding-top: 0px;
        text-align: center;
        font-size: .5em;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
    .topLanding {
        height: 0px;
        z-index: 2;
        padding-top: 72px;
    }
    .flowers-container {
        height: 175%;
    }
    .parrot-container {
        height: 150%;
    }
    .form {
        height: 273%;
    }
    .tittle-middle {
        padding-top: 130px;
    }
    .objetives-container {
        height: 148%;
    }
}

@media (max-width:391px) {
    .guest-label {
        text-align: center;
    }
}

@media (max-width: 331px) and (max-height: 500px) {
    .form {
        height: 180%;
    }
}

@media (max-width:601px)and (min-width:599px) and (max-height:1025px)and (min-height:1023px) {
    .footer {
        height: 35%;
    }
    .back1,
    .back2,
    .back3 {
        height: 183px;
        bottom: 0px;
    }
    .form {
        height: 97%;
    }
    .theFarm {
        height: 50%;
    }
    .objetives-container {
        height: 75%;
    }
}

@media (max-width: 361px)and (min-width: 359px) and (max-height: 640px) {
    .next-events-button {
        height: 228px;
    }
    .tittle {
        margin-left: -26px;
    }
    .top-correction {
        margin-left: -12px !important;
    }
}

@media (min-width: 599px) and (max-width: 600px) and (max-height: 960px) {
    .back1,
    .back2,
    .back3 {
        height: 175px;
    }
    .form {
        height: 95%;
    }
    .theFarm {
        height: 56%;
    }
    .flowers-top {
        background-position-y: 80%;
    }
}

@media (min-width: 411px) and (max-width: 413px) and (max-height: 732px) {
    .form {
        height: 120%;
    }
    .flowers-top {
        background-position-y: bottom;
    }
    .theFarm {
        height: 74%;
    }
}

@media (min-width: 479px) and (max-width: 481px) and (max-height: 854px) {
    .form {
        height: 100%;
    }
    .flowers-top {
        background-position-y: bottom;
    }
    .theFarm {
        height: 60%;
    }
}

@media (min-width: 1023px) and (max-width: 1025px) and (max-height: 600px) {
    .main-container>div.carousel-height {
        background-size: 100% auto;
    }
}

@media (min-width: 799px) and (max-width: 801px) and (max-height: 1280px) {
    .main-container>div.carousel-height {
        padding: 81% 0px;
    }
    .Main-Logo {
        width: 70%;
        margin: calc(400%/6) auto 0px 0px;
    }
    .objectives-foot {
        bottom: -6px;
    }
}

@media (min-width: 1279px) and (max-width: 1281px) and (max-height: 801px) {
    .main-container>div.carousel-height {
        padding: 38% 0px;
        background-size: 100% auto;
    }
}

@media (min-width: 479px) and (max-width: 481px) and (max-height: 320px) {
    .theFarm {
        height: 145%;
    }
}

@media (max-height: 550px) {
    .theFarm {
        height: 120%;
    }
    .objectives-top {
        margin-left: -1.1px;
        width: 100.4687555%;
    }
    .back1,
    .back2,
    .back3 {
        margin-left: -1.1px;
        width: 100.2%;
    }
}

@media (max-height: 300px) {
    .theFarm {
        height: 200%;
    }
    .reservations-container {
        height: auto;
    }
}

@media (min-height: 600px) {
    li>img {
        max-height: 600px !important;
        min-height: 600px !important;
    }
    li>a>img {
        max-height: 600px !important;
        min-height: 600px !important;
    }
}

@media (max-width: 500px) {
    .icon-bar {
        margin-left: -55px !important;
    }
    .tittle {
        margin-top: -21px;
    }
}

@media (max-width: 1200px) and (min-width: 771px) {
    .brown-background>h1 {
        padding: 40px 0px 70px 0px;
    }
}

.ps-current>ul {
    padding-left: 20px;
}

.ps-current>ul>li {
    margin-top: 0px;
}

ul#GalleryCarousell>li {
    margin-top: 0px !important;
}

.modal-dialog {
    max-width: 100% !important;
}

.close {
    color: white !important;
}