@font-face {
    font-family: annieUse;
    src: url(../fonts/AnnieUseYourTelescope.ttf);
}
@font-face {
    font-family: segoepr;
    src: url(../fonts/segoepr.ttf);
}
.w3-jumbo {
  font-size: 30px !important;
}

.audio {
  padding: 20px 20px 20px 20px;
  margin: 5%;
  margin-top: 3px;
  position: fixed;
  z-index: 3;
  color: grey;
  bottom: 0px;
  right: 0px;

}

.audio:hover {
  cursor: pointer;
  cursor: hand;
}

body,
html {

  height: 100%;
}

#player {
  height: 0px;
  width: 0px;
}

.w3-display-middle {
  position: relative;
}

.margin-top {
  margin-top: 20%;
}
.main-container
{
    width: 100%;
}

body,
html {

  height: 100%;
}

#player {
  height: 0px;
  width: 0px;
}

.margin-top {
  margin-top: 20%;
}
.main-container
{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.imageMiddle
{
    height: 100%;
    width: 100%;   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: relative; 
    background-image: url('../images/mainBackground.jpg');
    z-index: -1;
}
.topLanding 
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/background blanco inferior-42.svg"); 
    background-repeat: repeat-x;
    height: 250px;
    width: 100%;
    z-index: 1;
    background-position:100% 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 100%;
    padding-top: 146px;
    padding-left: 3%;
    padding-right: 3%;
}
.footLanding
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/background blanco inferior-42.svg"); 
    bottom: -2px;
    z-index: 1;
   background-repeat: repeat-x;
    height: 30%;
    width: 100%;
    background-position:100% 100%;
    background-size: 100%;
}
.logo
{    
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/logo pequeño marron y verde-17.svg");
    position: relative;
    height: 100px;
    width: 15%;
    background-position: 10% 20%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: calc(190%/2);
    background-repeat: no-repeat;
}
.menu
{
    background-image: url('../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/pagina de inicio/logo iconografico-16.svg');
    position: relative;
    height: 90px;
    width: 15%;
    background-position: 100% 0%;   
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: calc(100%/2.39);
    background-repeat: no-repeat;
    top: 14px;
}
.overlay
{
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(59, 32, 17, 0.70); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}
.Main-Logo
{
 width: 43%;
 height: auto;
 margin: calc(50%/2) auto 0px 0px;
}
.divider
{
    color: #776e63; 
    font-family: annieUse;
    height: 20%;
    width: 100%;
    position: relative;
    font-size: 2.5em;
    letter-spacing: 17px;
    padding: 2% 0px 2% 0px;

}
.section
{
    height: 100%;
    width: 100%;   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:auto 100%;
    position: relative; 
    z-index: -1;
    font-weight: lighter;
}
.theFarmTop
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/la granja/background blanco-22.svg");
    background-repeat: repeat-x;
    height: 20%;
    width: 100%;
    top: -2px;
    z-index: 1;
    background-position:100% 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 100%;
}
.theFarm
{
    height: 100%;
    background-color: #dbc6b4;
    color: #776e63; 
}
.guacha
{
    height: 100%;
    width: auto;
    padding: 5% 0% 0% 0%;  
    position: absolute;
    right: 0px;
    display: inline;   
}
.mision
{
    margin-top: 10%;
    padding-top: 15%;
    font-family: annieUse;
    font-size: 4em;
}
.Tittle
{
    width: 35%;
    margin-left: 13%;
    border-bottom-color: #369040;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    padding-left: 20px;
}
.content
{
    font-family: Calibri;    
    max-width: 35%;
    word-break:keep-all;
    margin-left: 13%;
    padding-top: 20px;
    font-size: large;
}
.circle-Button
{
    background-color: rgba(81,54,2,0.70);
    border-radius: 50%;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    margin-top: 100px;
}
.left-Button
{
    margin-left: 5%;
    padding-right: 5px;
}
.right-Button
{
    margin-right: 5%;
    padding-left: 5px;
}

.content-footer
{    
    font-size: small;
    max-width: 35%;
    margin-left: 13%;
}
.button-footer
{
    margin: 0px;
    background-color: #baa99a;
    padding:5px;
}
.objectives
{
    background-color: #603726;
    height: auto;
    color:white;
    font-family: Calibri;
    letter-spacing: 17px;
    padding: 4% 0px 4% 0px;
}
.objectives-top
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/la granja/background marron objetivos estrategicos-01.svg");
    background-repeat: repeat-x;
    height: 30%;
    width: 100%;
    top: -2px;
    z-index: 1;
    background-position:100% 100%;
    background-size: 100%;
}
.objectives-foot
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    height: 20%;
    transform: rotate(180deg);
    width: 100%;
    bottom: -2px;
    z-index: 1;
    background-position:100% 100%;
    background-size: 100%;
}
.objetives-container
{
    height: 70%;
    background-image: url('../images/imagen.jpg');
    /* background-position-y: 200px; */
}
.tittle-middle
{
    padding-top: 200px;
    color:#a55330;   
    font-size: 90px;
}
.segoepr
{
    font-family: segoepr;   
}
.reservations-container
{
    background-color: #f7eae2;
    background-image: none;
    height: 90%;
}
.reservations-top
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    height: 20%;
    width: 100%;
    top: -20px;
    z-index: 1;
    background-position:100% 100%;
    background-size: 100%;
}
.worm
{
    width: 50%;
    height: 100%;
    margin-left: -100px;
}
.flowers-container
{
    background-image: url("../images/Mandevila Roja - Frente.jpg");
    background-size: 100% 100%;
    align-self: auto;
    height: 130%;
}
.flowers-top
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background rosa-24.svg");
    height: 30%;
    width: 100%;
    top: -20px;
    z-index: 1;
    background-size: cover;
    background-size: 101% 100%;
    background-position-y: 100%;
}
.flowers-footer
{
    position:absolute;
    background-image: url("../MEDIDAS DE LA WEB PAGE LA GUACHA/SVG/reservaciones/background blanco-23.svg");
    background-repeat: repeat-x;
    transform: rotate(180deg);
    height: 30%;
    width: 100%;
    bottom: -2px;
    z-index: 1;
    background-size: 100% auto;   
}
@media(max-height:900px) and (min-width:1000px) {
      
    .topLanding
    {
        background-position:100% 100%;
        -webkit-transform: rotate(180deg) scaleY(.6);
        -moz-transform: rotate(180deg) scaleY(.6);
        -ms-transform:rotate(180deg) scaleY(.6);
        -o-transform: rotate(180deg) scaleY(.6);
        transform: rotate(180deg) scaleY(.6);
        top:-50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .footLanding
    {
        background-position:100% 100%;
        -webkit-transform: scaleY(.6);
        -moz-transform: scaleY(.6);
        -ms-transform:scaleY(.6);
        -o-transform:scaleY(.6);
        transform: scaleY(.6);
        bottom:-54px;
    }
    .menu
    {
        background-position: 100% 0%;
        transform: rotate(180deg) scaleX(.6);
    }
    .logo
    {
        transform: rotate(180deg) scaleX(.6);
        background-size: 100%;    
        margin-top: -25px !important;
    }
    .Main-Logo {
        width: 43%;
        height: auto;
        margin: calc(100%/6) auto 0px 0px;
    }
    .left-Button
    {
       transform: scale(.8);
    }
    .right-Button
    {
        transform: scale(.8);
    }
    .mision
    {
        padding-top: calc(25%/50); 
    }
 }